* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a {
    text-decoration: none;
}

body {
    background-color: #F0F1F2;
}

.conteudo {
    width: 100vw;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cabecalio {
    width: 100vw;
}

.nav-principal {
    background-color: #1E1E1F;
    height: 5.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    color: #F0F1F2;
    font-size: 1.25rem;
    font-weight: bold;
}

.conteudo-principal {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2rem 0;
}

.secao-conteudo {
    width: 40%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.input-box {
    width: 80%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
}

.input-box label {
    font-size: 1rem; /* 16px no PC - 1920x1080 */
    margin-bottom: 0.3125rem; /* 5px no PC */
}

.input-box input,
.input-box select {
    padding: 0.8rem 1.2rem;
    border: 1px solid #989EA6;
    background-color: #FFF;
}

.input-box input:hover,
.input-box select:hover {
    border: 1px solid #1E1E1F;
    box-shadow: 0px 0px 2px #989EA6;
}

.input-box input:focus-visible {
    outline: 1px solid #1E1E1F;
}

.button {
    margin: 3rem;
}

.button button {
    color: #F0F1F2;
    background-color: #1E1E1F;
    padding: 0.75rem 3rem;
    border: none;
    cursor: pointer;
    font-size: 0.95rem;
    font-weight: bold;
}

.rodape {
    background-color: #1E1E1F;
    width: 100%;
    padding: 5px 0px;
    color: #F0F1F2;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rodape a {
    text-decoration: none;
    color: #F0F1F2;
    font-weight: bold;
}

.rodape a:hover {
    text-decoration: underline;
}

@media (max-width: 800px) {

    .conteudo {
        width: 100%;
        min-height: 100dvh;
    }

    .cabecalio {
        width: 100%;
    }

    .conteudo-principal {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .secao-conteudo {
        width: 80%;
    }
}
