* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h2 {
    font-size: 1.25rem;
    font-weight: bold;
}

a {
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100dvh;
    background-color: #F0F1F2;
}

.conteudo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cabecalio {
    width: 100vw;
}

.nav-principal {
    background-color: #1E1E1F;
    height: 5.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7.5%;
}

.nav-principal h2, a {
    color: #F0F1F2;
}

.logo {
    margin-left: 2.5%;
}

.github-link {
    margin-right: 2.5%;
}


.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.nav-links a {
    font-size: 1.25rem;
    font-weight: bold;
}

/*
.nav-conversoes {
    background-color: #6C6D75;
    height: 2.815rem;
}

.lista-conversoes {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    list-style: none;
}

.lista-conversoes a {
    color: #F0F1F2;
}

*/

.entrada {
    width: 50vw;
    /*margin: 5rem 0rem;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    margin-bottom: 4rem;
}

.titulo h2 {
    font-size: 1.75rem;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
}

.input-box {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
}

.input-box label {
    font-size: 1rem;
    margin-bottom: 0.3125rem;
}

.input-box input,
.input-box select {
    height: 5vh;
    padding: 0.8rem 1.2rem;
    border: 1px solid #989EA6;
    background-color: #FFF;
}

.input-box input:hover,
.input-box select:hover {
    border: 1px solid #1E1E1F;
    box-shadow: 0px 0px 2px #989EA6;
}

.input-box input:focus-visible {
    outline: 1px solid #1E1E1F;
}

.button {
    margin: 3rem;
}

.button button {
    color: #F0F1F2;
    background-color: #1E1E1F;
    padding: 0.75rem 3rem;
    border: none;
    cursor: pointer;
    font-size: 0.95rem;
    font-weight: bold;
}

.saidas {
    background-color: aliceblue;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20%;
}

.card-saida {
    background-color: antiquewhite;
    width: 30%;
}

.rodape {
    background-color: #1E1E1F;
    width: 100%;
    padding: 5px 0px;
    color: #F0F1F2;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rodape a {
    text-decoration: none;
    color: #F0F1F2;
    font-weight: bold;
}

.rodape a:hover {
    text-decoration: underline;
}

/*
@media (900px) {
    
}
*/